.navbar {

    // Increase navbar z-index to overlap shadow
    z-index: 10;

    // Set a max height so the profile image height doesn't
    // resize the navbar
    max-height: 56px;
}

#hamburgerContainer {
    width: 40px;
    height: 40px !important;
}

#hamburger {
    font-size: 24px;
    color: #f5f5f5;
}
